
<div align="center">
<h1>Welcome to Flatgram</h1>
<img height="500" width="500"src="https://cdn-images-1.medium.com/max/800/1*hIoMNAj9G3zIpDYUmiuGcA.gif" alt="monkey gif">
</div>
<br>
<div align="center">
  <%= button_to 'Sign up', signup_path, class:"btn btn-primary", method: :get %>
  <%= button_to 'Sign in', signin_path, class:"btn btn-primary", method: :get %>
</div>
