
<div align="center">
<h1>Welcome to Flatgram</h1>
<img height="500" width="1000"src="http://www.theconciseslice.com/wp-content/uploads/2016/11/NYC.jpg" alt="monkey gif">
</div>
<br>
<div align="center">
  <%= button_to 'Sign up', signup_path, class:"btn btn-primary", method: :get %>
  <%= button_to 'Sign in', signin_path, class:"btn btn-primary", method: :get %>
</div>
