<h1><%= @tag.name %> pictures </h1>
<br>
<br>
<div class="container">

<% @tag.pictures.each do |picture| %>
<div class=<%="col-md-4"-%>>
<%= image_tag picture.image(:medium) %>
<br>
<br>
</div>
<% end %>
</div>
