<h1>All pictures for <%= @tag.name %> </h1>
<%= link_to "My Pictures", user_path(current_user.id) %>
<br>
<br>
<% @tag.pictures.each do |picture| %>
<%= image_tag picture.image(:medium) %>
<br>
<br>
<% end %>
