<label>Your Image:</label>
<%= @picture.title %>
<br>
<br>
<%= image_tag @picture.image.url(:medium) %>
<br>
<br>
<br>
<label>Image Tags: </label>
<% @picture.tags.each do |tag| %>
<%= tag.name %>
<% end %>

<br>
<br>
<label>Comments: </label>
<% @picture.comments.each do |comment| %>
<br>
<%= comment.comment + " by " + comment.user.username%>
<% end %>
<br>
<br>
